---
layout: default
---

<div class="home">

  <h1 class="page-heading">Education</h1>

  <!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->
    <ul>
      <li>
        <h2 class="post-link">BSc in Multimedia Programming and Design</h2>
        <p class="post-meta">Graduating with a First Class Honours Degree, 2017</p>
        <span>Limerick Institute of Technology</span>
      </li>
    </ul>

    <h1 class="page-heading">Work Experience</h1>

      <ul>
        <li>
          <h2>Co-Operative Placement, LM Ericsson Ltd., Athlone, Co.Westmeath</h2>
          <p class="post-meta">March-August 2016</p>
          <span>I updated and maintained a product database for the Configuration Management department.</span>
        </li>
      </ul>

  <h1 class="page-heading">Projects</h1>

    <ul>
      <li>
        <h2>ARC - Augmented Reality Campus</h2>
        <p class="post-meta">A cross-platform mobile application for third-level students.</p>
        <span>Ionic 2, Angular 2, TypeScript, Sass, Unity, Vuforia, Firebase</span>
      </li>
    </ul>

    <ul>
      <li>
        <h2>fitLit</h2>
        <p class="post-meta">A mobile Android application for LIT students to track their activity.</p>
        <span>Google Maps API, Google Fit API, SQLite database, Google Sign-In</span>
      </li>
    </ul>

    <div class="sidebar-recent-posts">
        <h1 class="page-heading">Recent Posts</h1>
        <ul class="recent-post-list">
            {% for post in site.posts %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
          <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
    </div>

</div>
